<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/login/style.css" />
  <link rel="shortcut icon" href="../static/images/titleicon.jpg" />
  <title>College Store</title>
</head>

<body>

  <div class="header">
    <img src="./static/images/logo.png" width="87" height="87" alt="logo" />
    <img src="./static/images/head.png" width="483" height="80" alt="header" />
    <h1>LOGIN</h1>
  </div>
  <div class="container" id="container">
    <dix class="form">
      <form id="form2" name="form2" action="/login" method="post">
        <div class="form-container sign-up-container">
          <div class="in">
            <h2>Welcome, Manager!</h2>
            <span>please login with your password</span>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit" name="username" value="msmanager">
              Sign In
            </button>
          </div>
        </div>
      </form>
      <form id="form1" name="form1" action="/login" method="post">
        <div class="form-container sign-in-container">
          <div class="in">
            <h2>Hello, Admin!</h2>
            <span>please login with your password</span>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit" name="username" value="msadmin">
              Sign In
            </button>
          </div>
        </div>
      </form>
    </dix>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Switch Back?</h1>
          <p>Please switch for admin login</p>
          <button class="ghost" id="signInA">Switch</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Not Admin?</h1>
          <p>Please switch for manager login</p>
          <button class="ghost" id="signInM">Switch</button>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p>&copy; <span id="year"></span> All rights Reserved.</p>
  </footer>
  <script src="../static/login/app.js"></script>
</body>

</html>