<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="./static/navbar/css/style.css" />
    <link rel="shortcut icon" href="../static/images/titleicon.jpg" />
</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <img src="./static/images/logo.png" width="87" height="87" />
                    <img src="./static/images/head.png" width="483" height="80" />
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-between">
                <div class="col">
                    <a class="navbar-brand" href="/manager">STORE - MANAGER'S PANEL</a>
                </div>
            </div>
        </div>
        <nav class="
          navbar navbar-expand-lg navbar-dark
          ftco_navbar
          bg-dark
          ftco-navbar-light
        " id="ftco-navbar">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="searchform order-lg-last">
                    <div class="form-group d-flex">
                        <div class="nav-item">
                            <a href="/logout" class="nav-link">Logout</a>
                        </div>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="/productReg" class="nav-link">Product Registeration</a>
                        </li>
                        <li class="nav-item">
                            <a href="/productMan" class="nav-link">Product Management</a>
                        </li>
                        <li class="nav-item">
                            <a href="/cart" class="nav-link">View Cart List</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <script src="../static/navbar/js/jquery.min.js"></script>
    <script src="../static/navbar/js/popper.js"></script>
    <script src="../static/navbar/js/bootstrap.min.js"></script>
    <script src="../static/navbar/js/main.js"></script>
    <!-- END nav -->
    {% block body %}
    {% endblock %}
</body>

</html>