{% extends 'navbar-manager.html' %}
{% block title %}
Product Updation
{% endblock %}
{% block body %}
<div class="extend">
  <link rel="stylesheet" type="text/css" href="../static/form/style.css">
  <div class="bg-contact2">
    <div class="container-contact2">
      <div class="wrap-contact2">
        <form class="contact2-form validate-form" method="post" enctype="multipart/form-data">
          <span class="contact2-form-title">
            Product Updation
          </span>

          <div class="wrap-input2 validate-input" data-validate="Name is required">
            <input class="input2" type="text" name="prd1" value="{{result[1]}}">
            <span class="focus-input2" data-placeholder="Product Name"></span>
          </div>

          <div class="wrap-input2 validate-input">
            <div>
              <label for="img" id="img-label" class="input2">Select Image:</label>
            </div>
              <img src="../static/product/{{result[5]}}" class="preview" id="default" hidden>
              <img src="../static/product/{{result[5]}}" class="preview" id="preview">
            <input type="file" accept="image/*" name="img" id="img" class="input2">
            <span class="focus-input2"></span>
          </div>

          <div class="wrap-input2 validate-input" data-validate="Valid Description is required">
            <input class="input2" type="text" name="prd2" value="{{result[2]}}">
            <span class="focus-input2" data-placeholder="Description"></span>
          </div>

          <div class="wrap-input2 validate-input" data-validate="Valid Price is required">
            <input class="input2" type="text" name="prd3" value="{{result[3]}}">
            <span class="focus-input2" data-placeholder="Price"></span>
          </div>

          <div class="wrap-input2 validate-input" data-validate="Valid Quantity is required">
            <input class="input2" type="text" name="prd4" value="{{result[4]}}">
            <span class="focus-input2" data-placeholder="Quantity"></span>
          </div>

          <div class="container-contact2-form-btn">
            <div class="wrap-contact2-form-btn">
              <div class="contact2-form-bgbtn"></div>
              <button class="contact2-form-btn" formaction="/prod_update?id={{result[0]}}">
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="../static/form/js/jquery-3.2.1.min.js"></script>
  <script src="../static/form/js/bootstrap.min.js"></script>
  <script src="../static/form/js/popper.js"></script>
  <script src="../static/form/js/select2.min.js"></script>
  <script src="../static/form/js/main-ed.js"></script>
</div>
{% endblock %}