{% extends 'navbar-admin.html' %}
{% block title %}
Shortage Info
{% endblock %}
{% block body %}
<div class="extend">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
  <link rel="stylesheet" href="./static/table/style.css" />
  <main>
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for i in val %}
        <tr>
          <td>{{i[1]}}</td>
          <td>{{i[2]}}</td>
          <td>₹{{i[3]}}</td>
          <td>{{i[4]}}</td>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}